
h2{
    font-style: italic;
            color: #3d0eeb
}
ul {
    border: 2px solid #e91414; 
    position: relative; 
    z-index: 1; 
    cursor: pointer; 
}


li {
    border: 1px solid #2916da; 
    cursor: pointer;
}


select {
    border: 1px solid #777; 
    position: relative; 
    z-index: 2; 
    cursor: pointer; 
}


option {
    border: 1px solid #999; 
    cursor: pointer;
}